<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jskj.dao.RecipeMapper">
    <sql id="BASE_TAB">id,name, decription</sql>

    <select id="findRecipe" resultType="com.jskj.entity.Recipe">
        select <include refid="BASE_TAB"/> from recipe
    </select>

</mapper>